*{
    padding: 0%;
    margin: 0%;
}
.main-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.imageSet{
    width: 270px;
    height: 240px;
    padding: 10px 20px 10px 20px;
}
.card{
    margin: 10px;
    border-radius: 15px;

    width: 310px ;
    border: 3px solid blue;
}
h2{
    padding: 6px 0px 6px 20px;
    color: blue;
    font-size: 25px;
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
button{
    margin: 6px 0px 12px 20px;
    border-radius: 10px;
    border: 2px solid blue;
    color: blue;
    padding: 6px 10px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;

}
.main-heaider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.singleproduct{
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    border: 2px solid blue;

}
.center{
    font-size: 40px;
    color: blue;
    text-align: center;
    
}
.singleproduct>img{
    padding: 30px 40px 10px 40px;
    width: 200px;

}
.singleproduct>h1{
    text-transform: capitalize;
    padding: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;

}
.singleproduct>h3{
    text-transform: capitalize;
    padding: 10px 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
}